<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dnsProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dnsProxy.Properties.Settings>
            <setting name="dnsServer" serializeAs="String">
                <value>http://106.187.38.35/dns.php?domain={0}</value>
            </setting>
            <setting name="dnsServerName" serializeAs="String">
                <value>106.187.38.35</value>
            </setting>
            <setting name="dnsServerIp" serializeAs="String">
                <value>106.187.38.35</value>
            </setting>
            <setting name="hostsUpdate" serializeAs="String">
                <value>https://raw.github.com/huhamhire/huhamhire-hosts/master/core/ipv4_unix_utf8/hosts</value>
            </setting>
        </dnsProxy.Properties.Settings>
    </userSettings>
</configuration>